.td {
  text-decoration: none;
}
.product-item {
  position: relative;
  margin-top: 1.5rem;
  img {
    display: block;
    width: 155px;
    height: 155px;
    margin: 0 auto;
    user-select: none;
  }
  h5 {
    padding-top: 6px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 150%;
    color: var(--search-text-color);
  }
  h4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    height: 2.2rem;
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    color: var(--search-text-color);
  }
  .product-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 5px;
    padding-right: 20px;
  }
  .product-like {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .product-rating {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    color: rgb(128, 128, 137);
  }
  .icon-start {
    color: var(--color-start);
  }
  .product-sold {
    color: rgb(255 66 78);
    font-weight: 500;
    font-size: 1.6rem;
  }
  .product-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.8rem;
    color: rgb(255 66 78);
    text-align: right;
    font-weight: 400;
    margin-left: 5px;
    padding-right: 20px;
    del {
      margin-right: 12px;
    }
    span {
      padding: 0px 2px;
      line-height: 16px;
      font-size: 12px;
      font-weight: 500;
      margin-left: 4px;
      color: rgb(255, 66, 78);
      margin-top: 3px;
    }
  }
}
.icon-like {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
}
.active {
  color: red;
}
.normal {
  color: #333;
}
.icon-eyes {
  position: absolute;
  right: 0;
  top: 30px;
  width: 30px;
  height: 30px;
  padding: 5px;
  color: #333;
  cursor: pointer;
}
.icon-cart {
  position: absolute;
  right: 0;
  top: 60px;
  width: 30px;
  height: 30px;
  padding: 5px;
  color: #444;
  cursor: pointer;
}
// grid
.grid {
  width: 100%;
  display: block;
  padding: 0;
}

.grid.wide {
  max-width: 91.666667%;
  margin: 1rem auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding-left: 4px;
  padding-right: 4px;
}

.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0;
}
.c-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}
.c-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}
@media (min-width: 1113px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }

  .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }

  .col {
    padding-left: 12px;
    padding-right: 12px;
  }

  .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }

  .l-0 {
    display: none;
  }

  .l-1,
  .l-2,
  .l-2-4,
  .l-3,
  .l-4,
  .l-5,
  .l-6,
  .l-7,
  .l-8,
  .l-9,
  .l-10,
  .l-11,
  .l-12 {
    display: block;
  }

  .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .l-o-1 {
    margin-left: 8.33333%;
  }

  .l-o-2 {
    margin-left: 16.66667%;
  }

  .l-o-3 {
    margin-left: 25%;
  }

  .l-o-4 {
    margin-left: 33.33333%;
  }

  .l-o-5 {
    margin-left: 41.66667%;
  }

  .l-o-6 {
    margin-left: 50%;
  }

  .l-o-7 {
    margin-left: 58.33333%;
  }

  .l-o-8 {
    margin-left: 66.66667%;
  }

  .l-o-9 {
    margin-left: 75%;
  }

  .l-o-10 {
    margin-left: 83.33333%;
  }

  .l-o-11 {
    margin-left: 91.66667%;
  }
}