.section {
  margin-top: 16px;
}
@media (max-width: 640px) {
  .section {
    display: block;
  }
}
.customer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: linear-gradient(
      rgba(255, 255, 255, 0) 22.49%,
      rgb(255, 255, 255) 73.49%
    ),
    linear-gradient(
      264.03deg,
      rgb(220, 229, 251) -10.27%,
      rgb(234, 236, 255) 35.65%,
      rgb(213, 236, 253) 110.66%
    );
  border-radius: var(--border-radius);
  padding: 4.8rem 2rem;
}
.category {
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
}
.homeCartegory {
  min-height: 265px;
  margin-top: 16px;
  background: linear-gradient(
      rgba(255, 255, 255, 0) 22.49%,
      rgb(255, 255, 255) 73.49%
    ),
    linear-gradient(
      264.03deg,
      rgb(220, 229, 251) -10.27%,
      rgb(234, 236, 255) 35.65%,
      rgb(213, 236, 253) 110.66%
    );
  border-radius: var(--border-radius);
  padding: 4.8rem 2rem;
}
.category-item {
  display: flex;
  flex-direction: column;
  max-width: 175px;
  border-radius: 8px;
  margin-top: 1rem;
  margin-left: 2rem;
  cursor: pointer;
  overflow: hidden;
  img {
    width: 155px;
    height: 155px;
    border-radius: var(--border-radius);
    object-fit: initial;
  }
  h5 {
    height: 5rem;
    padding: .4rem;
    margin-bottom: .5rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 150%;
    color: rgb(39, 39, 42);
  }
}
// grid
.grid.wide {
  max-width: 91.666667%;
  margin: 1rem auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 740px) {
  .m-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media (min-width: 1024px) and (max-width: 1239px) {
  .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}
